@import '../variables.scss';
@import '../components/Filter.module.scss';

.root {
  padding: 0;
}

:global {
  .ant-pagination-item-active {
    border-color: $primary-color !important;
    a {
      color: $primary-color !important;
    }
  }

  .ant-dropdown-trigger {
    color: $primary-color !important;
  }
}

@media (max-width: 500px) {
  .ant-input-group-wrapper {
    width: 230px !important;
  }
}
