@import './variables.scss';
@import './pages/Home.module.scss';
@import './pages/Film.module.scss';
@import './pages/RandomMovie.module.scss';

body {
  overflow-x: hidden;
}

:where(.css-dev-only-do-not-override-1kuana8).ant-menu-dark .ant-menu-item-selected {
  background-color: $primary-color !important;
}

:where(.css-dev-only-do-not-override-1kuana8).ant-btn-primary {
  background: $primary-color !important;

  &:hover {
    opacity: 0.7;
  }
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    span {
      display: flex;
      justify-content: center;
    }
  }

  p {
    position: absolute;
    margin-top: 150px;
  }
}
