@import './variables.scss';

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;

  ul {
    display: flex;
    justify-content: space-between;
    width: 300px;

    li {
      list-style: none;
      min-width: 30px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: 0s;
      border-radius: 5px;

      a {
        color: #000;
      }

      &:hover {
        background-color: #baa6a63e;
      }
    }
    .selected {
      border: 1px solid $primary-color;
      transition: 0s;

      a {
        color: $primary-color;
        font-weight: 600;
      }
      &:hover {
        background-color: #fff;
      }
    }
  }
}
